<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<strong>This is the web interface of {{ thisDevice }} </strong>
<body>
<form action="/reboot" >
    <input type="submit" style="background-color: #F60;" onClick="return confirm('Are you sure you want to restart?');" value="Reboot Device"/>
</form>
<br>
<form action="/restartmutebox">
    <input type="submit" style="background-color: #0F0;" value="Restart Mutebox Script" />
</form>
</body>
</html>