<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body style="color:#FFF" bgcolor="#000">
<strong>This is the web interface of {{ thisDevice }} </strong>
<form action="/reboot" >
    <input type="submit" style="background-color: #F60;" onClick="return confirm('Are you sure you want to reboot? This can take up to 2 minutes');" value="Reboot Device"/>
</form>
<br>
<form action="/restartmutebox">
    <input type="submit" style="background-color: #0F0;" value="Restart Script" />
</form>
</body>
</html>